.error {
  color: red;
  font-weight: bold;
}

.wait-indicator {
  position: absolute;
  margin-left: 5px;
  width: 20px;
}

.loginForm {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 80vh;
  align-items: center;
  flex-direction: column;
}

.loginForm h1 {
  text-align: center;
  font-weight: 300;
  flex-grow: 0.3;
  font-size: 60px;
  color: whitesmoke;
  font-family: 'Press Start 2P', cursive;
}

.loginForm h2 {
  font-size: 50px;
  font-weight: 100;
  color: yellow;
  font-family: 'Press Start 2P', cursive;
}

.container {
  background-image: url("./5.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 1000px;
}